.com{
    display: none;
}

.console-contain{
    margin-top: 1%;

    width: 96%;
    height: 66%;
    margin-left: 2%;
}

#console{
    height: 100%;
}

#console .box-body{
    height: 100%;
}

#console .output{
    height: 94%;
    overflow: auto;
}

 .contain{
     width: 98%;
     margin-left: 1%;
 }

 .output p{
     padding-top: 2px;
     margin: 0;
 }

 .contain-output{
     width: 98%;
     margin-left: 1%;
 }