.com{
    display: none;
}

#console{
    height: 70%;
}

.main-container{
    width: 98%;

    margin-left: 1%;
    margin-top: 1%;
}

#console .box-body{
    height: 90%;
    padding-bottom: 2px;
}

.contain-output{
    height: 92%;
}

.output{
    overflow: auto;
    height: 100%;
}

.output p{
    padding-top: 2px;
    margin: 0;
}

/**
==================================================
 */

#tool{
    width: 100%;
    vertical-align: top;

    margin-bottom: 25px;
}

#chose-server{
    width: 100%;
    vertical-align: top;

    margin-bottom: 25px;
}