center{
	color: #7a7a7a;
}

tbody{
	margin-left: 2px;
}

table{
	margin-left: 17.1%;
}

td{
	border-top: 0px !important;
}

.air{
	height: 8px;
}

.SaigyoujiYuyuko_box{
	width: 30%;
	height: 32%;
	
	display: inline-block;
	
	margin-left: 35% !important;
	margin-top: 12%;
}

.box-title{
	font-size: 25px;
	line-height: 25px;
	
	position: relative;
	top: -5px;
	
	color: #d5732b;
}

.SaigyoujiYuyuko_btn .info{
	width: 180px;
}

.form-input{
	width: 180px;
}

.SaigyoujiYuyuko_alart{
	vertical-align: middle;
	display: inline-block;
}