.com{
    display: none;
}

/**
=================================
 */

body{
    background-color: #131313;
    margin: 0;
}

.container-info #survey{
    width: 90%;

    margin: 0 auto;
    margin-top: 2%;
}

.small-box{
    display: inline-block;
    vertical-align: top;

    width: 16%;
    height: 14%;
    padding-top: 10px;
    text-align: center;
}

.small-box-title{
    text-align: center;
    font-size: 20px;
    padding-bottom: 14px;
}

#times{
    font-size: 40px;
}

.small-box-body{
}

#text{
    font-size: 26px;
}

.SaigyoujiYuyuko_box{
    color: #f1f1f1;
}

.SaigyoujiYuyuko_box .box-info .box-head{
    background-color: #252525;
    color: white !important;

    border-top: 4px #4e4e4e solid !important;
    border-bottom: 1px black solid !important;
}

.SaigyoujiYuyuko_box .box-body{
    background-color: #1d1d1d;
    margin: 0 !important;

    padding-top: 8px !important;
    padding-left: 5px !important;
}