.com{
    height: 75px;
    background-color: #222222;

    position: absolute;
    bottom: 0;
    width: 100%;
}

.com .pic{
    display: none;
}

.com .about{
    display: none;
}

.com .team{
    display: none;
}

.com .link{
    display: none;
}

.com hr{
    display: none;
}

.com .container{
    padding-top: 4px;
    padding-bottom: 4px;
}

.com p{
    margin-bottom: 2px;
}

/**
=======================================================================
 */

.tools{
    height: 92%;
}

ul li{
    list-style-type:none;

    padding-top: 8px;
    padding-bottom: 8px;

    font-size: 22px;

    padding-left: 16%;
}

.use:hover{
    background-color: rgba(0, 0, 0, 0.25);
}

.itmes{
    display: inline-block;
    vertical-align:top;
}

ul{
    background-color: rgba(0, 0, 0, 0.81);
    color: #c9c9c9;

    margin-bottom: 0;
    width: 190px;

    padding-left: 0px;
    height: 100%;

    margin: 0;
}

.tools #title{
    background-color: rgba(0, 0, 0, 0.81);
}

.tools #title p{
    margin: 0;
    color: white;
}

.bar{
    color: white;

    font-size: 14px;
    text-align: right;
}

#login-out{
    display: inline-block;

    padding-top: 8px;
    padding-bottom: 8px;
    padding-right: 14px;
    padding-left: 14px;
}

li .image{
    border-radius: 60px;
    padding-left: 0% !important;
}

.image-li{
    padding-left: 6%;
}

.container-image{
    display: inline-block;
    font-size: 16px;
}

.container-image .text{
    vertical-align: middle;
    padding-left: 6px;
    display: inline-block;
}

.container-image .text #username{
    margin-bottom: 2px;
}

img{
    display: inline-block;
}

#title .user{
    padding-left: 28px;
}

/*
-=======================================================================-
 */

.Main-Part{
    display: inline-block;
    vertical-align: top;

    position: absolute;

    width: 89.8%;
    height: 85%;
}

iframe{
    border: 0;

    width: 100%;
    height: 100%;

    text-wrap: none;
}