.com{
    display: none;
}

body{
    background-color: #131313 !important;
    margin: 0;
}

td{
    border: 0 !important;
}

#system-info{
    display: block;
    vertical-align: top;

    margin: 0 auto;

    width: 80%;
}

#system-info td{
    padding: 8px !important;
}

#web-info{
    display: block;
    vertical-align: top;

    margin: 0 auto;

    width: 80%;
}

.container-info{
    margin-top: 4%;
}
